<% provide(:title,'联系我们') %>
<div>
	<h1>联系我们</h1></br>
	<h3>业务联系</h3>
	<P>商务合作 : zhao_zijie@hotmail.com </P></br>
	<p>意见反馈 : zhao_zijie@hotmail.com</p></br>
	<p>加入我们 : zhao_zijie@hotmail.com</p></br></br>
	<h3>媒体合作</h3></br>
	<p>如果您希望与我们进行媒体合作，或有采访需求,请Email: zhao_zijie@hotmail.com</p>

</div>