<% provide(:title,'加入我们') %>
<h1>在理工外卖网工作</h1>
<p>在理工外卖网，我们推崇简单、高效的工作方式。你不是一个人在理工外卖网奋斗，而是和一群志同道合的朋友一起奋斗。</p>

<p>如果你充满斗志、激情，欢迎你加入我们<p>
</br>


<p>招聘职位：</p>

<div>
<ul>
	<li>送餐员</li></br>
	<li>电话客服</li>
</ul>
</div></br></br></br>
<p>申请接受邮箱: zhao_zijie@hotmail.com</p>