body{
	background-color: #EEE;
	font-color:block;
}

ul li{
	list-style: none;
	display: inline;
}

li{
	display: inline;
	float: left;
}


footer{
	border-top: 1px solid black;
}



footer ul li{
	margin-right: 20px;
	margin-top: 10px;
	padding-bottom: 30px;
}


.container-fluid{
	padding-left: 13%;
	padding-right: 13%;
}

.left{
	background-color: #fff;
	padding-right: 10px;

}

.right{
	background-color: #fff;
	margin-right: -10px;
}

.lf{
	padding-top: 20px;
}

#profile_section{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px dashed black;
}

#profile_section p{
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#profile_content{



}

#profile_content h4{
	padding-top: 10px;
	padding-left: 130px;
	font-size: 24px;
	color: blue;
	
}


#profile_content ul li{
	display: block;
}

a.pic img{
	width: 130px;
	height: 130px;
	margin-left: 42px;
	margin-top: 10px;
}

p.name {
	margin-left: 42px;

}

.male p{
	font-size: 20px;
	margin-left: 26px;
	margin-top: 10px;
}

.shucai{
	clear: both;
}

.shucai p{
	font-size: 20px;
	margin-left: 26px;
	margin-top: 10px;
}

.t{
	padding: 10px;
	width: 754px;
	border-bottom: 1px solid #f83;	
}